h1{
font-weight: bold;
color: khaki;
font-size: 100px;
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
text-align: center;
}
h2{
font-size: 32px;
font-weight: bold;
color: white;
}


h1, h2, h3, p {
  font-family: Helvetica;
}
#brushes{
  background-color: mediumspringgreen;
}
#paint{
  background-color: skyblue;

}
#frames{
  background-color: lightcoral;

}

.price {
  color: blue;
  font-weight: bold;
}
